//theme-color
$primary: #5265E1;
$secondary: #FA5959;
$dark:#242946;
// negative-margins
$enable-negative-margins:true;
// body bg-color
$gray-100: #f8f9fa;
$light: $gray-100;
$body-bg:$light;
// buttons
$btn-white-space: "nowrap";
$gray-300: #dee2e6;
// nav-tab
$nav-tabs-border-color: none;
$nav-tabs-border-width: 0;
$nav-tabs-link-hover-border-color:none;
$nav-tabs-link-active-color: $dark;
// form
$input-border-color: $primary;
@import "../node_modules/bootstrap/scss/bootstrap";