        /* RESETS*/
        
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        body {
            background-color: white;
            max-width: 1200px;
            padding: 1em;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: stretch;
            gap: 1em;
        }
        /* --------------- */
        /* MOBILE FIRST (360px-22.5em)*/
        /* --------------- */
        /* HEADER */
        
        .header__container {
            background-color: black;
            padding: 1.5em;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            flex: 2 0 20em;
            gap: 1em;
        }
        /* top */
        
        .header__items--container {
            padding: 1.5em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1.5em;
        }
        
        .top__item {
            background-color: #2d4059;
        }
        /* bottom */
        
        .bottom__item {
            background-color: #f07a3f;
        }
        
        .top__item>div {
            background-color: #ea5556;
            padding: 0.8em;
        }
        
        .item__1b-h {
            background-color: #fdd460;
            padding: 0.8em;
        }
        /* MAIN */
        
        .main__container {
            background-color: #fde227;
            padding: 1.5em;
            display: flex;
            flex-direction: column;
            gap: 1.5em;
        }
        /* top */
        
        .article__container {
            background-color: #0c506f;
            padding: 1.5em;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 1.5em;
        }
        
        .item__article {
            background-color: #62959c;
            padding: 0.8em;
        }
        
        .art__bottom--item {
            background-color: #a3ddcb;
        }
        /* bottom */
        
        .aside__container {
            background-color: #fc7a54;
            padding: 1.5em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 1.5em;
        }
        
        .item__aside {
            background-color: #fdb36c;
            padding: 0.8em;
        }
        /* FOOTER */
        
        .footer__container {
            background-color: black;
            padding: 1.5em;
        }
        
        .footer__item {
            background-color: #fdc764;
            padding: 0.8em;
        }
        /* --------------- */
        /* TABLET (22.5em-48em)*/
        /* --------------- */
        
        @media (min-width: 22.5em) {
            /* HEADER */
            /* top */
            .header__container {
                flex: 1 0 10em;
            }
            .header__items--container {
                flex-direction: row;
            }
            .item__1t-h {
                flex-grow: 1;
            }
            .item__2t-h {
                flex-grow: 5;
            }
            .item__3t-h {
                flex-grow: 1;
            }
            /* bottom */
            .item__1b-h {
                flex-grow: 1;
            }
            /* MAIN */
            .main__container {
                background-color: #feff05;
            }
            /* top */
            .article__container {
                background-color: #4e4e6a;
                flex-direction: row;
                flex-wrap: wrap;
            }
            .item__article {
                background-color: #1f6bb0;
                flex: 40%;
            }
            .art__bottom--item {
                background-color: #70a3c4;
                flex: 100%;
            }
            /* bottom */
            .aside__container {
                background-color: #f73f51;
                gap: 1em;
            }
            .item__aside {
                background-color: #feea84;
            }
        }
        /* --------------- */
        /* TABLET (+48em)*/
        /* --------------- */
        
        @media (min-width: 48em) {
            /* MAIN */
            .main__container {
                background-color: black;
                flex-direction: row;
            }
            .article__container {
                flex: 60%;
                flex-wrap: wrap;
            }
            .item__article {
                background-color: #1f6bb0;
                flex: 40%;
            }
            .art__bottom--item {
                background-color: #70a3c4;
                flex: 100%;
            }
            /* bottom */
            .aside__container {
                justify-content: flex-start;
                flex: 30%;
            }
        }